# Ambiente virtual
venv/
.env/
cnq/

# Saídas e resultados
__pycache__/
output/
confusion_matrices_1/
confusion_matrices
plots/
resultados_bayesian_search_treinamento.csv
resultados_validacao_final.csv
# Arquivos temporários e de cache
*.log
*.tmp
*.cache

# Arquivos de configuração do sistema e IDEs
.vscode/
.idea/
*.code-workspace

# Dependências e builds
*.egg-info/
build/
dist/

# Dados e Modelos (Ignorados para não pesar o repo)
/data/
/models/
*.csv
*.xlsx
data/